@{
    ViewBag.Title = "WarShips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function comprarSkin(id) {
        
        var data = "{";
        data += "'Id':" + id ;
        data += "}";
        
        $.ajax({
            type: "GET",
            url: "http://192.168.0.12/Jogo-Main/Store/Comprar" + "?" + "Id=" + id,
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",

            success: function (output) {
                
                if(output.Sucesso == true) {
                    
                    alert("Comprar realizada com Sucesso");

                    document.location.reload();
                    
                } else {
                    
                    alert("Você não tem Creditos");
                    

  
                }
                
            }
        });
  


    }

</script>
<section class="sh-background" id="home">
    <header class="cmp-header text-center">
      <img class="cmp-simple-logo" src="http://192.168.0.12/Jogo-Main/Images/logo-sem-vermelho.png" />
      <div class="cmp-data-user sh-div-default js-data-user">
        @if (Request.IsAuthenticated)
        {
            <text><h2>JOGADOR @User.Identity.Name.ToUpper()</h2></text>
        }
        <p>MOEDAS: @ViewBag.Saldo </p>
        <p>PONTOS: @ViewBag.Pontos</p>
        <button class="btn btn-primary">
          @if (Request.IsAuthenticated) {
              <text>
                  @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                      @Html.AntiForgeryToken()
                      <a id="click" href="javascript:document.getElementById('logoutForm').submit()">SAIR</a>
                  }
              </text>
          } 
        </button>
      </div>
    </header>
    <div class="lyt-main text-center">
      <div class="lyt-game-play sh-div-default">
        <h2>HORA DA GUERRA</h2>
        <button class="btn btn-primary sh-text-default js-btn-play">JOGAR</button>
      </div>
      <div class="lyt-store sh-div-default">
        <h2>CUSTOMIZE-SE</h2>
        <button class="btn btn-primary sh-text-default js-btn-shop">COMPRAR</button>
      </div>
      <div class="lyt-ranking sh-div-default js-ranking">
        <h2>RANKING</h2>
        <ol id ="rankOl">
         
        </ol>
      </div>
    </div>
    <div class="lyt-levels sh-div-default not-active">
      <button class="btn btn-danger btn-close">X</button>
      <h2>ESCOLHA A DIFICULDADE</h2>
      <div class="js-appended-levels">
        </div>
    </div>
    <div class="lyt-shops sh-div-default not-active">
      <button class="btn btn-danger btn-close">X</button>
      <h2 class="text-center">LOJA SKINS</h2>
      <div class="item sell">
        <div class="preview">
          <img src="http://192.168.0.12/Jogo-Main/Images/piratas_loja.jpg" />
          <button class="pirata btn btn-success btn-preview">VER</button>
        </div>
        <div class="sec-sell">
          <h2>SKIN PIRATA</h2>
          <p>PREÇO: 100 MOEDAS</p>
          <button class="btn btn-danger" onclick="comprarSkin(4)">COMPRAR</button>
        </div>
      </div>
      <div class="item sell">
        <div class="preview">
          <img src="http://192.168.0.12/Jogo-Main/Images/espacial_loja.jpg" />
          <button class="espacial btn btn-success btn-preview">VER</button>
        </div>
        <div class="sec-sell">
          <h2>SKIN FUTURO</h2>
          <p>PREÇO: 100 MOEDAS</p>
          <button class="btn btn-danger" onclick="comprarSkin(5)">COMPRAR</button>
        </div>
      </div>
      <div class="row"></div>
      <div class="item sell">
        <div class="preview">
          <img src="http://192.168.0.12/Jogo-Main/Images/cocacola_loja.jpg" />
          <button class="coca btn btn-success btn-preview">VER</button>
        </div>
        <div class="sec-sell">
          <h2>SKIN COCA</h2>
          <p>PREÇO: 100 MOEDAS</p>
          <button class="btn btn-danger" onclick="comprarSkin(6)" >COMPRAR</button>
        </div>
      </div>
      <div class="item sell">
        <div class="preview">
          <img src="http://192.168.0.12/Jogo-Main/Images/sushi_loja.jpg" />
          <button class="sushi btn btn-success btn-preview">VER</button>
        </div>
        <div class="sec-sell">
          <h2>SKIN SUSHI</h2>
          <p>PREÇO: 100 MOEDAS</p>
          <button class="btn btn-danger" onclick="comprarSkin(7)">COMPRAR</button>
        </div>
      </div>
    </div>
    <div class="modal-pirates modal-loja sh-div-default not-active">
      <button class="btn btn-danger btn-close">X</button>
      <div class="plan">
        <img src="http://192.168.0.12/Jogo-Main/Images/mar.jpg" />
      </div>
      <div class="ships">
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/pirata/5.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/pirata/4.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/pirata/3.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/pirata/2.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/pirata/1.png" />
      </div>
    </div>
    <div class="modal-space modal-loja sh-div-default not-active">
      <button class="btn btn-danger btn-close">X</button>
      <div class="plan">
        <img src="http://192.168.0.12/Jogo-Main/Images/galaxia.jpg" />
      </div>
      <div class="ships">
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/aeronave/5.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/aeronave/4.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/aeronave/3.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/aeronave/2.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/aeronave/1.png" />
      </div>
    </div>
    <div class="modal-coca modal-loja sh-div-default not-active">
      <button class="btn btn-danger btn-close">X</button>
      <div class="plan">
        <img src="http://192.168.0.12/Jogo-Main/Images/coca-mar.jpg" />
      </div>
      <div class="ships">
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/coca/Coca529.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/coca/Coca429.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/coca/Coca329.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/coca/Coca229.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/coca/Coca129.png" />
      </div>
    </div>
    <div class="modal-sushi modal-loja sh-div-default not-active">
      <button class="btn btn-danger btn-close">X</button>
      <div class="plan">
        <img src="http://192.168.0.12/Jogo-Main/Images/sushi-mar.jpg" />
      </div>
      <div class="ships">
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/sushi/5.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/sushi/4.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/sushi/3.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/sushi/2.png" />
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/sushi/1.png" />
      </div>
    </div>
    
    <div class="lyt-div-default text-center lyt-search-player sh-div-default not-active aguarde">
      <h2>AGUARDE...</h2> 
      <img src="http://192.168.0.12/Jogo-Main/Images/spin.svg" />
    </div>
    
    <div class="banner">
        <img class="center-block" src="http://192.168.0.12/Jogo-Main/Images/banner1.jpeg"/>
    </div>

    <script>
        var niveis = @Html.Raw(ViewBag.Niveis);
        var rank = @Html.Raw(ViewBag.Ranking);
        var cHtm = '';
        window.onload = function () {
            var divNiveis = document.getElementsByClassName("js-appended-levels")[0];
            for(var i=0; i<niveis.length; i++) {
                cHtm = '<a class="lyt-level center-block" href="../gameOn/Index?nivelId=' + niveis[i].Id + '">';
                cHtm += '<button class="btn btn-primary sh-text-title">' + niveis[i].Nome + '</button>';
                cHtm += '</a>';
                divNiveis.innerHTML += cHtm;
            }
            
            var olElem = document.getElementById("rankOl");
            for(var i=0; i<rank.length;i++) {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(rank[i].UserName + "(" + rank[i].Pontos + ")"));
                olElem.appendChild(li);
            }
            
        }
    </script>
  </section>