<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Battleship</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://localhost:2121/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://localhost:2121/assets/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" href="http://localhost:2121/assets/css/jquery-ui.css">
  <link rel="stylesheet" href="http://localhost:2121/assets/css/Site.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="http://localhost:2121/assets/js/jquery-1.12.0.min.js"></script>
  <script src="http://localhost:2121/assets/js/jquery.dataTables.min.js"></script>
  <script src="http://localhost:2121/assets/bootstrap/js/bootstrap.min.js"></script>
  
    <script src="http://localhost:2121/assets/js/jquery-ui.min.js"></script>
  
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              @Html.ActionLink("WarShip", "Index", "Home", new {@class = "navbar-brand"})
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Skins", "Index", "Skin")</li>
                <li>@Html.ActionLink("Niveis", "Index", "Nivel")</li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>@Html.Partial("_LoginPartial")</li>
              </ul>
            </div>
        </div>
    </nav>

       @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>

        @RenderSection("scripts", required: false)
    <footer class="container-fluid text-center layout-footer" style="margin-top:20px;">
                <p>&copy; Battleship 2016</p>
    </footer>
</body>
    
</html>


