@model Jogo_Main.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sh-background" id="login">
    <img class="center-block lyt-img-login" src="../images/logo.png" />

    

    @using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new { @class = "text-center login-form" }))
    {
    
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    
        <h1 class="sh-text-title">ENTRE PARA A GUERRA</h1>
        
        @Html.TextBoxFor(m => m.UserName, new { @class = "text-center center-block", @placeholder = "USUARIO" })

        <input class="text-center center-block" type="text" name="email" value="EMAIL" />

         @Html.PasswordFor(m => m.Password, new { @class = "text-center center-block", @placeholder = "SENHA" })

         @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-center center-block", @placeholder = "SENHA" })

        <button class="btn btn-danger lyt-btn-align sh-text-default btn-cadastrar">
            @Html.ActionLink("FUGIR", "Login")
        </button>

        <button class="btn btn-success lyt-btn-align sh-text-default btn-logar" type="submit" value="ALISTAR-SE">
        ALISTAR-SE
        </button>
       
    }

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
