<!DOCTYPE html>
<html lang="pt">
    
    <head>
        <meta charset="utf-8" />
        <title>WarShips</title>
        <link href="../assets/BlackOpsOne-Regular.ttf" rel="stylesheet" />
        <script src="../assets/jquery-3.1.1.js"></script>
        <link rel="stylesheet" href="../assets/bootstrap.min.css" />
        <link rel="stylesheet" href="../assets/bootstrap-theme.min.css" />
        <script src="../assets/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../stylesheets/all.css" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
    </head>
    <body>
         @*@Html.Partial("_LoginPartial")*@
    
        @RenderSection("featured", required: false)
        
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")

        @RenderSection("scripts", required: false)
        
        <script src="../javascripts/all.js"></script>
 
    </body>

</html>




