@model Jogo_BackOffice.Models.LoginModel

@{
    ViewBag.Title = "Log in";

   if(string.IsNullOrEmpty(Layout)){
       
       Layout = "~/Views/Shared/_LayoutLogin.cshtml";
   }
    
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

  <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>WarShip</strong><br> Login</h1>
                            <div class="description">
                            	<p>
	                            	Um clássico para você se divertir jogando online ;)
                            	</p>
                            </div>
                        </div>
                    </div>
                    <form role="form" method="post" class="login-form">
						<div class="row" id="divLogin">
							<div class="col-sm-6 col-sm-offset-3 form-box">
								<div class="form-top">
									<div class="form-top-left">
										<h3>Login</h3>
										<p>Entre com seu usuário e senha:</p>
									</div>
									<div class="form-top-right">
										<i class="fa fa-key"></i>
									</div>
                                    <div id="alertLogin" style="width: 100%;float:left;" class="alert alert-danger fade in"></div>
								</div>
								<div class="form-bottom">
									
									<div class="form-group">
									 @Html.LabelFor(m => m.UserName, new { @class= "sr-only" })
									 @Html.TextBoxFor(m => m.UserName, new { @class= "form-username form-control" , @id="txtUsername", @placeholder= "Usuário..."})
									 @Html.ValidationMessageFor(m => m.UserName)
									</div>
									<div class="form-group">
									@Html.LabelFor(m => m.Password, new { @class= "sr-only" } )
									@Html.PasswordFor(m => m.Password, new { @class="form-password form-control password", @id="txtPassword" , @placeholder="Senha..."})
									@Html.ValidationMessageFor(m => m.Password)									
									</div>
                                   
									<button type="submit"  id="btnLogin" class="btnLogin btn-input">Entrar</button>
									
									<div class="form-group">
									 @Html.CheckBoxFor(m => m.RememberMe)
									 @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
									</div>
									
									<div class="form-group">
										<label>Ainda não possui uma conta?</label>
										@Html.ActionLink("Registre-se aqui!", "Register")
									</div>
									<!--<div class="form-group">
										<label>Esqueceu sua senha?</label>
										<a href="#">Recupere aqui!</a>
									</div>			-->											
								</div>
							</div>
						</div>
					</form>
                </div>
            </div>
            
        </div>
       

}

    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
