@{
    ViewBag.Title = "title";
    //Layout = "_LayoutHeadGame";
    Layout = "~/Views/Shared/_LayoutHeadGame.cshtml";
}

<section class="sh-background" id="game-on">
    <header class="cmp-header text-center">
      <img class="cmp-simple-logo" src="../Images/logo-sem-vermelho.png" />
      <div class="cmp-data-user sh-div-default js-data-user">
        @if (Request.IsAuthenticated)
        {
            <text><h2>JOGADOR @User.Identity.Name.ToUpper()</h2></text>
        }
        <p>MOEDAS: @ViewBag.Saldo </p>
        <p>PONTOS: @ViewBag.Pontos</p>
          <button class="btn btn-primary">
              @if (Request.IsAuthenticated) {
              <text>
                  @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                      @Html.AntiForgeryToken()
                      <a id="click" href="javascript:document.getElementById('logoutForm').submit()">SAIR</a>
                  }
              </text>
          }
          </button>
      </div>
    </header>
   
    <div class="lyt-div-default text-center lyt-chose-skin sh-div-default active modal">
      <h2>ESCOLHA SUA SKIN</h2> 
      <select class="selectpicker center-block" id="selectskin">
       <!-- <option value="padrao">padrao</option>
        <option value="galaxia">galaxia</option>
        <option value="pirata">pirata</option>-->
      </select>
      <button class="center-block btn btn-success sh-text-default js-confirm-skin">CONFIRMAR</button>
    </div>
    <div class="lyt-div-default text-center lyt-position-boats sh-div-default not-active modal">
      <h2>POSICIONE SEUS NAVIOS</h2>
      <div class="board">
        <div class="displays">
          <div class="bottom">
            <ul class="grid grid-position"></ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="topPanel">
          <div class="layout">
            <div class="buttons self">Posicionar</div>
            <div class="buttons random">Random</div>
          </div>
        </div>
        <div class="console"><span class="text"></span>
        </div>
      </div>
    </div>
    <script>
	var skins = @Html.Raw(ViewBag.Skins);
	var nivelId = @Html.Raw(ViewBag.Nivel.Id);
	var tamGrid = @Html.Raw(ViewBag.Nivel.QtdColunas);
	var qtdPortaAvioes = @Html.Raw(ViewBag.Nivel.QtdNav01);
	var qtdDestroiers = @Html.Raw(ViewBag.Nivel.QtdNav02);
	var qtdEncouracados = @Html.Raw(ViewBag.Nivel.QtdNav03);
	var qtdCruzadores = @Html.Raw(ViewBag.Nivel.QtdNav04);
	var qtdSubmarinos = @Html.Raw(ViewBag.Nivel.QtdNav05);
	window.onload = function() {
		nivelGrid(nivelId, tamGrid, qtdPortaAvioes, qtdDestroiers, qtdEncouracados, qtdCruzadores, qtdSubmarinos);
		$.each(skins, function (i, item) {
		    $('#selectskin').append($('<option>', {
				value: item.Id,
				text : item.Nome
			}));
		});
	};
    </script>
  </section>

